html, body {
    font-family: 'Open Sans';
}

body {
    max-width: 760px;
    margin: 0px auto;
    padding: 40px 0px;
}

h1 {
    font-size: 36px;
    display: flex;
    flex-flow: row;
    justify-content: middle;
    align-content: middle;
}

h1 span {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

h1 aside {
    flex-grow: 1;
}

#lang {
    text-align: right;
    font-weight: 400;
    font-size: 1rem;
}

#lang span {
    margin-right: 4px;
}

#lang a {
    font-weight: 400;
}

#lang a:hover {
    border: none;
}

a {
    text-decoration: none !important;
    color: #5764c6;
}

a:hover {
    border-bottom: 1px dotted #5764c6;
}

pre {
    padding: 20px;
    background: #f2f2f2;
    border-radius: 4px;
}

code {
    background: #f2f2f2;
    padding: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 50%;
}

th {
    background: #f2f2f2;
}